*{
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #0d070e;
}

/*nav -- inicio*/

nav{
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.area-b{
  margin: 10px;
  margin-right: 20px;
}


.bot{
  text-decoration: none;
  color: white;
  padding:10px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.bot:hover{
  padding:10px 10px;
  border: 1px solid #8c24f5;
  background: black;
  border-radius: 5px;
  color: #8c24f5;
  transition-duration: 1s;
}

/*nav -- fim*/

/*Ilustração - fundo inicio*/
.box{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-item{
  height: 200px;
  width: 300px;
}

.box-titulo{
  font-size: 2.8em;
  text-align: left;
  color: #171836;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px #60fb7a,-2px -2px #a650fb ;
  
}

.box-base{
  text-align: center;
}

/*Ilustração - fundo fim*/

.informacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7d5e9c;
}

.informacao_td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4px;
  padding: 20px;
  background-color: #060425b6;
  width: 100%;
}


.informaca_tex{
  width: 90%;
  color: white;
  font-size: 1rem;
  
}

.infor_tex > a {
  color: #dd4242;
  text-decoration: none;
}

.informaca_imagem, img{
  width: 100%;
}

.fab{
  color: white;
  margin: 10px;
}

footer{
  background: black;
  height: 10px;
  width: 100%;
}



/* reservado para responsividade*/

@media screen and (min-width: 1024px) and (max-width: 2560px){
  .box{
    width: 100%;
    height: 50%;
  }

  .bot{
    font-size: 1.2rem;
  }
  
  .informacao_td{
    width: 70%;
  }

  .informaca_tex{
    width: 70%;
  }

  

  .redirecionamento{
  height: 400px;
  }

  .redirecionamento-box > p{
    width: 200px;
  }

  .informaca_tex{
    width: 25%;
  }

  
}

@media screen and (max-width: 768px){
  .informacao_td{
    width: 80%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px){
  nav{
  background-color: black;
  height: 40px;
  
}
  
  .bot{
  padding:5px 5px;
  font-size: 0.8rem;
}

.bot:hover{
  padding:5px 5px;
}
  
  .box{
  background-size: 100%;
  width: 78.5%;
  height: 120px;
  padding: 10px 19px 10px 50px;
}
  .box-titulo{
  font-size: 1em;

}
  .box-item{
  height: 30%;
  width: 30%;
}

.informacao{
  margin: 0 0;
}

  .informacao_td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
  width: 87.2%;
}
  
  .informaca_gif{
  border-radius: 50% 50%;
  width: 60px;
  height: 50px;
  
}

  .informaca_tex{
  width: 300px;
  color: white;
  font-size: 0.8rem;
  
}
 .redirecionamento{
  height: 400px;
  margin: 0;
 }
 

  .redirecionamento-box{
    display: flex;
    flex-direction: column-reverse;
  }

  .redirecionamento_texto {
    width: 200px;
    margin: 0 0 20px 0;
    /*width="230 height="215" */
  }

  .sandhed{
    margin: 0;
    height: 400px;
    width: 100%;
  }

  .sandhed_box{
    margin: 0px;
  }
}
