*{
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #5c0f5c;
}

/*header -- inicio*/

header{
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #121212;
}

.area-b{
  margin: 10px;
  margin-right: 20px;
}


.bot{
  text-decoration: none;
  color: white;
  padding:10px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.bot:hover{
  padding:10px 10px;
  border: 1px solid #8c24f5;
  background: black;
  border-radius: 5px;
  color: #8c24f5;
  transition-duration: 1s;
}

/*header -- fim*/

/*Ilustração - fundo inicio*/
.box{
  background-image: url(http://pa1.narvii.com/6424/13c812ead1e0488042e0997852b63e3d8ce8dd54_00.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.box-item{
  height: 200px;
  width: 300px;
}

.box-titulo{
  font-size: 2.8em;
  text-align: left;
  color: #171836;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px #60fb7a,-2px -2px #a650fb ;
  
}

.box-base{
  text-align: center;
}

/*Ilustração - fundo fim*/

.informacao{
  background-color: #0a0410;
  display: flex;
  flex-direction: column;
}

.informacao_td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;
}


.informaca_tex{
  width: 50%;
  color: white;
  font-size: 1rem;
  
}

main{
  height: 90%;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.formulario{
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.formulario > h1 {
  color: white;
  font-size: 1rem;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  width: 150px;
}

.name, .fone, .email{
  margin: 0 10px;
  display: flex;
  flex-direction: column-reverse;
}

.caixa-texto{
  margin-top: 10px;
}

label{
  padding: 5px 10px 5px 2px;
  font-family: 'Roboto', sans-serif;
}


#nameid, #foneid, #emailid, #caixa-textoid{
  border-bottom: 1px solid white;
  padding: 5px;
  background: none;
  color: white;
}




#caixa-textoid:hover , 
#emailid:hover ,
#foneid:hover ,
#nameid:hover{
  border-bottom: 1px solid #8c24f5;
}

.bot_enviar{
  display: flex;
  flex-direction: row-reverse;
  
}

.enviar{
  border-radius: 5px;
  background-color: black;
  color: #8c24f5;
  border: 1px solid #8c24f5;
  padding:5px 5px;
  margin: 20px -100px 10px 10px;
}

.enviar:hover{
  padding:5px 5px;
  border: 1px solid #8c24f5;
  background: #8c24f5;
  border-radius: 5px;
  color: white;
  transition-duration: 1s;
  
}


@keyframes rota {
	0% {
		transform: rotate(0deg);
	}

  50% {
		transform: rotate(20deg);
	} 
}



footer{
  background: black;
  border: 1px solid #121212;
  height: 20px;
  width: 100%;
}

.bar-lif{
  width: 50px;
}

.arm{
  width: 28px;
  
}


/* reservado para responsividade*/

@media screen and (max-width: 320px){
  header{
  background-color: black;
  height: 40px;
  
}
  
  .bot{
  padding:5px 5px;
  font-size: 0.8rem;
}

.bot:hover{
  padding:5px 5px;
}

  .box{
  background-image: url(http://pa1.narvii.com/6424/13c812ead1e0488042e0997852b63e3d8ce8dd54_00.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
  width: 76%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 19px 10px 50px;
}
  
  .box-titulo{
  font-size: 1em;

}
  .box-item{
  height: 30%;
  width: 30%;
}

  .informacao_td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
  background: #33095d;
  
}
  .fab{
    color:black;
    margin: 10px 10px 0px 10px;
  }
  
  

  .informaca_tex{
  width: 80%;
  height: 100%;
  color: black;
  background: white;
  font-size: 1rem;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px black;
  
}

  .main{
    height: 100%;
  }
  .form{
    height: 100%;
  }

  .formulario{
  
    width: 280px;
    height: 100%;
}
  

}

@media screen and (max-width: 768px){
  .formulario{
    width: 280px;
    height: 80%;
}
}