*{
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #0d070e;
}

/*header -- inicio*/

header{
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.area-b{
  margin: 10px;
  margin-right: 20px;
}


.bot{
  text-decoration: none;
  color: white;
  padding:10px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.bot:hover{
  padding:10px 10px;
  border: 1px solid #8c24f5;
  background: black;
  border-radius: 5px;
  color: #8c24f5;
  transition-duration: 1s;
}

/*header -- fim*/

/*Ilustração - fundo inicio*/
.box{
  background-image: url(http://pa1.narvii.com/6424/13c812ead1e0488042e0997852b63e3d8ce8dd54_00.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.box-item{
  height: 200px;
  width: 300px;
}

.box-titulo{
  font-size: 2.8em;
  text-align: left;
  color: #171836;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px #60fb7a,-2px -2px #a650fb ;
  
}

.box-base{
  text-align: center;
}

/*Ilustração - fundo fim*/

.informacao{
  background-color: #0a0410;
  display: flex;
  flex-direction: column;
}

.informacao_td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;
}


.informaca_tex{
  width: 50%;
  color: white;
  font-size: 1rem;
  
}

footer{
  background: black;
  height: 10px;
  width: 100%;
}



/* reservado para responsividade*/

@media screen and (max-width: 320px){
  header{
  background-color: black;
  height: 40px;
  
}
  
  .bot{
  padding:5px 5px;
  font-size: 0.8rem;
}

.bot:hover{
  padding:5px 5px;
}

  .box{
  background-image: url(http://pa1.narvii.com/6424/13c812ead1e0488042e0997852b63e3d8ce8dd54_00.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
  width: 76%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 19px 10px 50px;
}
  
  .box-titulo{
  font-size: 1em;

}
  .box-item{
  height: 30%;
  width: 30%;
}

  .informacao_td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
  background: #33095d;
  
}
  .fab{
    color:black;
    margin: 10px 10px 0px 10px;
  }
  
  

  .informaca_tex{
  width: 80%;
  height: 100%;
  color: black;
  background: white;
  font-size: 1rem;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px black;
  
}

  

}
