* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

body {
  height: 100%;
  width: 100%;
  background-color: #2f0436;
}

/*======HEADER=======*/

nav{
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.area-b{
  margin: 10px;
  margin-right: 20px;
  display: flex;
}


.bot{
  text-decoration: none;
  color: white;
  padding:10px 10px;
  border-radius: 5px;
  font-size: 1rem;
  list-style: none;
}

.bot:hover{
  padding: 10px 10px;
  border: 1px solid #8c24f5;
  background: black;
  border-radius: 5px;
  color: #8c24f5;
  transition-duration: 1s;
}

.contat {
  text-decoration: none;
  color: #a650fb;
  position: relative;
  padding: 5px 25px;
  margin: 45px 0;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.5s;
}

.contat::before {
  content: " ";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #a650fb;
  border-left: 2px solid #a650fb;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.contat::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #a650fb;
  border-right: 2px solid #a650fb;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.contat:hover::before, .contat:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

.contat:hover {
  background: #a650fb;
  color: #60fb7a;
  box-shadow: 0 0 16px #a650fb;
  transition-delay: 0.5s;
}

/*========BANNER PRINCIPAL========*/


.box{
  background-image: url(https://i.pinimg.com/originals/a2/94/b5/a294b593769b6bf61b55c152032e7459.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-item{
  height: 200px;
  width: 300px;
}

.box-titulo{
  font-size: 2.8em;
  text-align: left;
  color: #171836;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px #60fb7a,-2px -2px #a650fb ;
  
}

.box-base{
  text-align: center;
}

/*=================SCROLL==================*/

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #a650fb,
    #60fb7a
  );
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #474747;
}

/*==============INFORMAÇÕES=================*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacao {
  background-color: #0a0410;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.informacao_td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
}

.informaca_gif{
  border-radius: 50% 50%;
  width: 100px;
  height: 100px;
}

.informaca_tex{
  width: 50%;
  color: white;
  font-size: 1rem;
}

.redirecionamento{
  background: #296433;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.redirecionamento-box{
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
}

iframe {
  height: 200px;
  width: auto;
  border-radius: 6px;
  padding: 0;
  border-top: 6px solid #a650fb;
  border-left: 6px solid #a650fb;
  border-bottom: 6px solid #60fb7a;
  border-right: 6px solid #60fb7a;
}

.conteudo {
  background: linear-gradient(to right, #a650fb, #60fb7a);
  width: 310px;
  height: 140px;
  border-radius: 10px;
  position: relative;
  z-index: 999;
  animation: coresDancantes 2s linear infinite;
}

@keyframes coresDancantes {
  100% {
    filter: hue-rotate(360deg);
  }
}

.redirecionamento_texto{
  background-color: white;
  color: black;
  border: 1px solid white;
  box-shadow: 10px 10px black;
  padding: 10px;
  width: 300px;
  height: 130px;
  margin-left: 90px;
  font-weight: bold;
}

.redirecionamento-img{
  width: 500px;
}

.redirecionamento-bot{
  background: gray;
  width: 140px;
  height: 38px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.redirecionamento-bot-int{
  margin: auto;
}

.redirecionamento-bot-int > a{
  font-size: 10px 1px;
  text-decoration: none;
  color: black;
}

.redirecionamento-bot-int-b{
  background: white;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin: 5px;
  display: flex;
  
}

.far{
  margin: auto;
}

/*==============BANNER GIF==================*/

.sandhed{
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  background-image: url(https://i.pinimg.com/originals/c2/63/b7/c263b7a53b37ef9fc8f75268c126121b.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sandhed > h2 {
  text-shadow: 2px 2px #60fb7a,-2px -2px #a650fb;
  font-weight: bold;
  text-align: center;
  font-family: 'Russo One', sans-serif;
}

.sandhed_box{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: flex-end;
}

.sandhed_base-tex {
  width: 100px;
  text-align: justify;
  /* border: 1px solid blue; */
  background: rgba(255, 255, 255, 0.678);
  color: rgb(0 0 0);
  padding: 20px;
  width: 300px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.548);
  font-weight: bold;
}

.sandhed_base-tex > a {
  text-decoration: none;
  color: green;
}

/*=========FOOTER==========*/



footer #links {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(36, 34, 34);
  padding: 20px;
}

footer h1 {
  color: white;
  text-align: center;
  background: rgb(36, 34, 34);
  padding-top: 20px;
  
}

footer img {
  cursor: pointer;
  fill: white;
  color: white;
  width: 40px;
  margin: 10px;
  stroke: white;
}

/*==============RESPONSIVIDADE=================*/

@media screen and (max-width: 1024px){
  
  .bot{
    font-size: 1.2rem;
  }

  .box{
    height: 400px;
  }
  
  .informacao{
    width: 100%;
  }

  .redirecionamento{
    height: 400px;
    width: 100%;
  }

  .redirecionamento-box > p{
    width: 200px;
  }

  .redirecionamento_texto{
    height: 90px;
  }

  .informaca_tex{
    width: 25%;
  }

  .sandhed{
    height: 500px;
    width: 100%;
  }

  .sandhed > h2{
    font-size: 2.1rem;
  }

  footer{
    height: 25px;
  }

  .fab{
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px){
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*=================SCROLL==================*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

  .informacao{
    width: 100%;
  }
  
  .informaca_gif{
    width: 90px;
    height: 90px;
  }

  .redirecionamento{
    width: 100%;
  }

  .redirecionamento_texto{
    margin-left: 20px;
    height: 70px;
  }

  .sandhed{
    width: 100%;
    height: 400px;
  }

  .sandhed_base-tex{
    width: 200px;
  }
}

@media screen and (max-width: 425px) {
  nav{
  background-color: black;
  height: 40px;
  
}
  
  .bot{
  padding:5px 5px;
  font-size: 0.8rem;
}

.bot:hover{
  padding:5px 5px;
}
  
  .box{
  background-size: 100%;
  width: 100%;
  height: 150px;
}
  .box-titulo{
  font-size: 1.4em;

}
  .box-item{
  height: 30%;
  width: 30%;
  display: flex;
    align-items: center;
}

.informacao{
  margin: 0 0;
  width: 100%;

}

  .informacao_td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
}
  
  .informaca_gif{
  border-radius: 50% 50%;
  width: 50px;
  height: 50px;
  
}

  .informaca_tex{
  width: 50%;
  color: white;
  font-size: 0.8rem;
  
}



 .redirecionamento{
  height: 400px;
  margin: 0;
  width: 100%;
 }
 

  .redirecionamento-box{
    display: flex;
    flex-direction: column-reverse;
  }

  .redirecionamento_texto {
    width: 200px;
    margin: 0 0 20px 0;
    height: 100px;
    /*width="230 height="215" */
  }

  .sandhed{
    margin: 0;
    height: 380px;
    width: 100%;
  }

  .sandhed_box{
    margin: 0px;
  }

  .sandhed_base-tex{
    height: 190px;
    font-size: 0.82rem;
  }
}